<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Add a New Timesheet</h1>
    </div>
    <div class="col-xs-12">
      <%= render "form" %>
    </div>
  </div>
</div>
